__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
*.env.*
*.venv
*.venv.*
.env
.venv
.Python
*.sqlite3
*.db
*.log
*.pot
*.mo
*.swp
*.swo
*.cover
.coverage
*.egg
*.egg-info/
.eggs/
pip-log.txt
pylint-report.txt
htmlcov/
.tox/
nosetests.xml
coverage.xml
*.cover
*.pyc


# Django #
##########
*.secret
db.sqlite3
*.pot
*.mo
*.log
local_settings.py
media/
staticfiles/
static/
.env
.env.*
*.db
